* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  background: linear-gradient(#385372, #9499d7);
  background-repeat: no-repeat;
  background-size: contain;
}
